<p id="notice"><%= notice %></p>
<table>
<th>
	<th>Item</th>
	<th>Price</th>
	<th>Quantity</th>
	<th>Total</th>
</th>
<% @cart.item.each do |i|%>
<tr>
	<td>
		<a href="products/<%= i.product_id %>"><%= i.pName %></a>
	</td>
    <td>
        <%=number_to_currency i.pPrice %>
    </td>
    <td>
    	<%= f.text_field :quantity, :value => i.quantity %>
    </td>
    <td>
        <%= number_to_currency i.total %>
        <% @total += i.total %>
    </td>
  	<td>
  		<%= link_to 'Update Item', item_update_path(i.id) %>
  	</td>
</tr>
  <% end %>
 </table>
 <p> Total: <%= number_to_currency  @total %></p>
	

|
<%= link_to 'Continue Shopping', products_path %>
<%= link_to 'Delete Cart', delete_cart_path %>
<%= form_tag "https://www.sandbox.paypal.com/cgi-bin/webscr" do %>
  <%= hidden_field_tag :cmd, "_s-xclick" %>
  <%= hidden_field_tag :encrypted, @cart.paypal_encrypted(products_url, payment_notifications_url(:secret => "Nerf_Herder")) %>
  <p><%= submit_tag "Checkout" %></p>
<% end %>

