<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cName %><br />
    <%= f.text_field :cName %>
  </div>
  <div class="field">
    <%= f.label :cDescription %><br />
    <%= f.text_area :cDescription %>
  </div>
  <div class="field">
    <%= f.label :cChildOf %><br />
    <%= f.number_field :cChildOf %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
