<h1>Editing category</h1>

<%= form_for @category do |f| %>
	<p>
		Name:<br>
		<input id=cName type=text class=text name=cName autocomplete=off value=<%= @category.cName %>>
	</p>
	
	<p>
		Description:<br>
		<textarea id="cDescription" name="cDescription" rows="10" cols="40"><%= @category.cDescription %></textarea>
	</p>
	
	<p>
		Category:<br>
		<select id=cCategory name=cCategory autocomplete=off>
			<option value=nil>-Select a Category-</option>
			<option value=-1>No Parent</option>
			<% @categories.each do |cat| %>
				<option value=<%= cat.id %><% if @category.cChildOf == cat.id %> selected <% end %>>
					<%= cat.cName %>
				</option>
			<% end %>
		</select>
	</p>
	
	<p>
		<input id=submit type=submit class=button name=submit value="Update Category">
	</p>

	<p><a href="/cIndex">Back to Index</a></p>
<% end %>