<style type="text/css">
th,td
{
border:1px solid black;
}
</style>

<h1>Listing categories</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Subcategory Of</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.cName %></td>
    <td><%= category.cDescription %></td>
    <td><% if (category.cChildOf == -1) %> <%= "No Parent" %> <% else %> <%= Category.find(category.cChildOf).cName %> <% end %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %><br>
<a href=aIndex>Return to Admin Index</a>
