<h1>New category</h1>

<%= form_for @category do |f| %>
	<p>
		Name:<br>
		<input id=cName type=text class=text name=cName autocomplete=off>
	</p>

	<p>
		Description:<br>
		<textarea id="cDescription" name="cDescription" rows="10" cols="40"></textarea>
	</p>

	<p>
		Category:<br>
		<select id=cCategory name=cCategory autocomplete=off>
			<option value=nil>-Select a Category-</option>
			<option value=-1>No parent</option>
			<% @categories.each do |cat| %>
				<option value=<%= cat.id %>><%= cat.cName %></option>
			<% end %>
		</select>
	</p>
	
	<p>
		<input id=submit type=submit class=button name=submit value="Create Category">
	</p>

	<p><a href="/cIndex">Back to Index</a></p>
<% end %>