<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td>
			<%= @category.cName %><br>
			<% if (@category.cChildOf == -1) %> <%= "No Parent" %> <% else %> <%= Category.find(@category.cChildOf).cName %> <% end %><br>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			Description:<br>
			<%= @category.cDescription %>
		</td>
	</tr>
</table>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
