<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pName %><br />
    <%= f.text_field :pName %>
  </div>
  <div class="field">
    <%= f.label :pDescription %><br />
    <%= f.text_area :pDescription %>
  </div>
  <div class="field">
    <%= f.label :pPrice %><br />
    <%= f.text_field :pPrice %>
  </div>
  <div class="field">
    <%= f.label :pPicture %><br />
    <%= f.text_field :pPicture %>
  </div>
  <div class="field">
    <%= f.label :pSpec %><br />
    <%= f.text_area :pSpec %>
  </div>
  <div class="field">
    <%= f.label :pCategory %><br />
    <%= f.number_field :pCategory %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
