<h1>Editing product</h1>

<%= form_for @product do |f| %>
	<p>
		Name:<br>
		<input id=pName type=text class=text name=pName autocomplete=off value=<%= @product.pName %>>
	</p>
	
	<p>
		Picture:<br>
		<input id=pPicture type=text class=text name=pPicture autocomplete=off value=<%= @product.pPicture %>>
	</p>
	
	<p>
		Price:<br>
		<input id=pPrice type=text class=text name=pPrice autocomplete=off value=<%= @product.pPrice %>>
	</p>
	
	<p>
		Description:<br>
		<textarea id="pDescription" name="pDescription" rows="10" cols="40"><%= @product.pDescription %></textarea>
	</p>
	
	<p>
		Specification:<br>
		<textarea id="pSpec" name="pSpec" rows="10" cols="40"><%= @product.pSpec %></textarea>
	</p>	
	
	<p>
		Category:<br>
		<select id=pCategory name=pCategory autocomplete=off>
			<option value=nil>-Select a Category-</option>
			<% @categories.each do |cat| %>
				<option value=<%= cat.id %><% if @product.pCategory == cat.id %> selected <% end %>>
					<%= cat.cName %>
				</option>
			<% end %>
		</select>
	</p>
	
	<p>
		<input id=submit type=submit class=button name=submit value="Update Product">
	</p>

	<p><a href="/pIndex">Back to Index</a></p>
<% end %>