<h1>eCommerce Index</h1>

<p>
	<h2>Search for a Product</h2>
	<form action ="products/search" method="post">
		Product name: <input id=pName type=text class=text name=pName><br>
		Order by <select name=order>
			<option value=id>ID</option>
			<option value=pName>Name</option>
			<option value=pCategory>Category</option>
			<option value=pPrice>Price</option>
		</select>
		<select name=type>
			<option value="ASC">Ascending</option>
			<option value="DESC">Descending</option>
		</select><br>
		<input id=submit type=submit class=button name=submit value="Search">
	</form> 
</p>

<p>
	<h2>Product List</h2>
	<table>
	<% 
	counter = 0
	@products.each do |product|
	%>
		<% if (counter == 0) %>
			<tr> 
		<% end %>
			<td>
				<img src="<%= product.pPicture %>"><br>
				<a href="products/<%= product.id %>"><%= product.pName %></a><br>
				&#163;<%= product.pPrice %><br>
				<% if (product.pCategory <= 0) %> <%= "No Parent" %> <% else %> <%= Category.find(product.pCategory).cName %> <% end %><br>
				<%= link_to 'Edit', edit_product_path(product) %><br>
				<%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %><br>
			</td>
		<% if (counter == 2) %> 
			</tr> 
			<% counter = -1 %>
		<% end %>
		<% counter += 1 %>
	<% end %>
	</table>
</p>

<br />

<%= link_to 'New Product', new_product_path %><br>
<a href=aIndex>Return to Admin Index</a>
