<h1>New product</h1>

<%= form_for @product do |f| %>
	<p>
		Name:<br>
		<input id=pName type=text class=text name=pName autocomplete=off>
	</p>
	
	<p>
		Picture:<br>
		<input id=pPicture type=text class=text name=pPicture autocomplete=off>
	</p>
	
	<p>
		Price:<br>
		<input id=pPrice type=text class=text name=pPrice autocomplete=off>
	</p>
	
	<p>
		Description:<br>
		<textarea id="pDescription" name="pDescription" rows="10" cols="40"></textarea>
	</p>
	
	<p>
		Specification:<br>
		<textarea id="pSpec" name="pSpec" rows="10" cols="40"></textarea>
	</p>	
	
	<p>
		Category:<br>
		<select id=pCategory name=pCategory autocomplete=off>
			<option value=nil>-Select a Category-</option>
			<% @categories.each do |cat| %>
				<option value=<%= cat.id %>><%= cat.cName %></option>
			<% end %>
		</select>
	</p>
	
	<p>
		<input id=submit type=submit class=button name=submit value="Create Product">
	</p>

	<p><a href="/pIndex">Back to Index</a></p>
<% end %>