<h1>Search results</h1>

<table>
<% 
counter = 0
@products.each do |product|
%>
	<% if ((counter % 5) == 0) %> <tr> <% end %>
		<td>
			<img src="<%= product.pPicture %>"><br>
			<a href="products/<%= product.id %>"><%= product.pName %></a><br>
			&#163;<%= product.pPrice %><br>
			<% if (product.pCategory <= 0) %> <%= "No Parent" %> <% else %> <%= Category.find(product.pCategory).cName %> <% end %><br>
		</td>
	<% if ((counter % 5) == 0) %> </tr> <% end %>
	<% counter += 1 %>
<% end %>
</table>

<p><a href="/pIndex">Back to Index</a></p>