<p id="notice"><%= notice %></p>

<table cellspacing=25>
	<tr>
		<td>
			<img src="<%= @product.pPicture %>">
		</td>
		<td>
			<b><%= @product.pName %></b><br>
			&#163;<%= @product.pPrice %><br>
			<% if (@product.pCategory <= 0) %> <%= "No Parent" %> <% else %> <%= Category.find(@product.pCategory).cName %> <% end %><br>
			<%= link_to "Add to Cart", items_path(:product => @product), :method => :post %>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<hr>
			<h2>Description:</h2><br>
			<%= @product.pDescription %>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<hr>
			<h2>Specification:</h2><br>
			<%= @product.pSpec %>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<hr>
			<h2>Reviews:</h2><br>
			<% if can? :create, Review %>
			<a href="/reviews/new">Write Review</a><br>
			<% end %>
			<% @reviews.each do |review| %>
				<p><table>
					<tr><td><%= review.rTitle %> by <i><%= User.find_by_id(review.rPoster).email%></td></tr>
						<tr><td><%= review.rBody %></td></tr>
				</table></p>
			<% end %>
		</td>
	</tr>
</table>

<a href="../products">Back to Index</a>
