<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rTitle %><br />
    <%= f.text_field :rTitle %>
  </div>
  <div class="field">
    <%= f.label :rBody %><br />
    <%= f.text_area :rBody %>
  </div>
  <div class="field">
    <%= f.label :rPoster %><br />
    <%= f.number_field :rPoster %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
