<h1>Editing review</h1>

<%= form_for @review do |f| %>
	<p>
		Title:<br>
		<input id=rTitle type=text class=text name=rTitle autocomplete=off value=<%= @review.rTitle %>>
	</p>

	<p>
		Body:<br>
		<textarea id="rBody" name="rBody" rows="10" cols="40"><%= @review.rBody %></textarea>
	</p>
	
	<p>
		Product:<br>
		<select id=rProduct name=rProduct autocomplete=off>
			<option value=nil>-Select a Product-</option>
			<% @products.each do |product| %>
				<option value=<%= product.id %><% if @review.rProduct == product.id %> selected <% end %>><%= product.pName %></option>
			<% end %>
		</select>
	</p>
	
	<p>
		<input id=submit type=submit class=button name=submit value="Update Review">
	</p>
	
	<p><a href="/rIndex">Back to Index</a></p>
<% end %>
