<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Poster</th>
	<th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.rTitle %></td>
    <td><%= review.rBody %></td>
    <td><%= review.rPoster %></td>
    <td><%= Product.find(review.rProduct).pName %></td>
    <td><%= link_to 'Show', review %></td>
    <td>
		<% if can? :update, review %>
			<%= link_to 'Edit', edit_review_path(review) %>
		<% end %>
	</td>
    <td>
		<% if can? :destroy, review %>
		<%= link_to 'Destroy', review, confirm: 'Are you sure?', method: :delete %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_review_path %><br>
<a href=aIndex>Return to Admin Index</a>
