<h1>New review</h1>

<%= form_for @review do |f| %>
	<p>
		Title:<br>
		<input id=rTitle type=text class=text name=rTitle autocomplete=off>
	</p>

	<p>
		Body:<br>
		<textarea id="rBody" name="rBody" rows="10" cols="40"></textarea>
	</p>
	
	<p>
		<input id=rProduct type=hidden name=rProduct value=<%= @product.id %>>
	</p>
	<p>
		<%= recaptcha_tags =%>
	</p>
	
	<p>
		<input id=submit type=submit class=button name=submit value="Create Review">
	</p>
	
	<p><a href="/products/<%= @product.id %>">Back to Product</a></p>
<% end %>
