<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @review.rTitle %>
</p>

<p>
  <b>Body:</b>
  <%= @review.rBody %>
</p>

<p>
  <b>Poster:</b>
  <%= User.find(@review.rPoster).email %>
</p>

<p>
  <b>Product:</b>
  <%= @review.rProduct %>
</p>


<% if can? :update, @review %>
<%= link_to 'Edit', edit_review_path(@review) %>
 |<% end %>
<%= link_to 'Back', reviews_path %>
